<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>IDB-呵呵呵呵呵</title>
</head>

<body bgcolor="#F0F3F4">
<img src="../static/images/idb_logo.png" alt="上海鲜花港 - 郁金香" style="width: 760px; position: absolute; margin: 0px auto;top: 100px; right: 0px; left: 0px; font-family: Rockwell"/>
<div class="col-lg-8" id="message-board-container">
</div>
</body>


<script type="text/javascript" src="../static/js/build/bundle.js"></script>
</html>

      <style>
        @font-face {
        font-family:"Roboto";
        src:url("../static/js/Roboto/Roboto-Regular.ttf") format("truetype");
        font-weight:normal;
        font-style:normal;
      }

        </style>


